html, body, body div, span, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, abbr, address, cite, code, del, dfn, em, img, ins, kbd, q, samp, small, strong, sub, sup, var, b, i, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, figure, footer, header, menu, nav, section, time, mark, audio, video, details, summary {
    font-weight:inherit;
}

html {
    overflow-y:auto;
}

.wrapper {
    width: 100%;
    height: 100vh;
    overflow: hidden;
    position: relative;
}
.slides {
    width: 2000px;
    height: 938px;
    position: absolute;
    left: 50%;
    /*top: 50%;*/
    top:0;
    /* background: #fafafa; */
    transform-origin: 50% 0;
    transform: translate(-50%, 0) translateZ(0);
    transition: transform 300ms ease-out 40ms;
}
.slides .slide {
    position: absolute;
    left:0;
    top:0;
    width:100%;
    height:100%;
}
.slides video {
    position: absolute;
    left:0;
    top:0;
    width:100%;
    height:100%;
}

.navigation {
    position: fixed;
    z-index:500;
    left:50%;
    top:0;
    width:100%;
    height:46px;
    background: rgba(255,255,255,.7);
    transform-origin: 50% 0;
    pointer-events: none;
    transform: translateY(50px);
    opacity:0;
    transition: all 500ms ease-out;
}
.navigation.appear {
    transform: translateY(0);
    opacity:1;
    pointer-events: auto;
}
.navigation .logo {
    display: block;
    float:left;
    width:88px;
    height:45px;
    margin:1px 0 3px;
    background: url(../img/logo.png) no-repeat center;
    background-size: cover;
}
.navigation nav {
    float:right;
    height:46px;
    font-family: 'Rubik', sans-serif;
    font-size:16px;
    font-weight:500;
    text-transform: uppercase;
    position: relative;
}
.navigation nav ul {
    padding:15px 0 0;
}
.navigation nav ul li {
    display:inline;
    margin-left:8px;
    margin-right:7px;
}
.navigation nav ul li a {
    text-decoration: none;
    color:#000;
}
.navigation nav ul li.active a,
.navigation nav ul li a:hover {
    text-decoration: underline;
}
.navigation nav .subnav {
    display: none;
    position: absolute;
    top:100%;
    left:0;
    width:100%;
    background: #fff;
    padding:0 0 0 95px;
    box-shadow:0 2px 2px 0 rgba(0,0,0,.1);
}
.navigation nav:hover .subnav {
    display: block;
}
.navigation nav .subnav ul.sublist {
    float:left;
    padding: 5px 0 6px;
    font-size:15px;
    text-transform: none;
}
.navigation nav .subnav ul.sublist-promo {
    width: 162px;
}
.navigation nav .subnav ul.sublist-content {

}
.navigation nav .subnav ul.sublist li {
    display: block;
    margin:0 0 12px;
}
.navigation nav .subnav ul.sublist li:before {
    content:'\003e';
}
.navigation nav .subnav ul.sublist li a {
    margin-left:6px;
}
.container {
    max-width:1200px;
    margin:0 auto;
}

.address-block {
    width:700px;
    position: absolute;
    left:50%;
    top:0;
    font-family: 'Rubik', sans-serif;
    font-size:25px;
    font-weight:400;
    text-align: center;
    margin:445px 0 0 -350px;
}
.address-block p.phone {
    margin:0 0 10px;
    font-size:38px;
}
.address-block p.email {
    margin: 0 0 10px;
    font-size: 34px;
    font-weight:500;
}
.address-block a {
    color:#000;
    text-decoration: none;
}

.slides .controls {

}
.slides .controls .btn {
    visibility: hidden;
    /*opacity:0;*/
    position: absolute;
    left:50%;
    top:0;
    cursor: pointer;
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    /*transform: scale(.96);*/
    /*transition: all 70ms ease-out;
    -webkit-backface-visibility: hidden;*/
}
.slides .controls .btn:hover {
    transform: scale(1);
}
.slides .controls .btn.appear {
    /*visibility: visible;
    opacity:1;*/
}
.slides .controls .btn#skip-intro {
    width:150px;
    height:auto;
    right:110px;
    top:auto;
    left:auto;
    bottom:33px;
    font-family: 'Rubik', sans-serif;
    font-size:18px;
    font-weight:700;
    text-transform: uppercase;
    color:#000;
}
.slides .controls .btn#skip-intro i {
    display: inline-block;
    vertical-align: middle;
    width:15px;
    height:16px;
    margin:-2px 0 0 4px;
    background: url(../img/skip.png) no-repeat center center;
}
.slides .controls .btn#projects-content {
    background-image: url(../buttons/01_promo_content/content.png);
    width:395px;
    height:128px;
    margin: 610px 0 0 -500px;
}
.slides .controls .btn#projects-promo {
    background-image: url(../buttons/01_promo_content/promo.png);
    width:325px;
    height:128px;
    margin: 610px 0 0 155px;
}
.slides .controls .btn#projects-content-more {
    background-image: url(../buttons/01_promo_content/watch.png);
    width:272px;
    height:55px;
    margin: 437px 0 0 -122px;
}
.slides .controls .btn#projects-promo-more {
    background-image: url(../buttons/01_promo_content/watch.png);
    width:272px;
    height:55px;
    margin: 439px 0 0 259px;
}
.slides .controls .btn#hp-more {
    background-image: url(../buttons/03_hp/down.png);
    width:382px;
    height:143px;
    margin: 749px 0 0 -189px;
}
.slides .controls .btn#hp-next {
    background-image: url(../buttons/03_hp/next.png);
    width:322px;
    height:102px;
    margin: 727px 0 0 329px;
}
.slides .controls .btn#dacha-more {
    background-image: url(../buttons/02_dacha/down.png);
    width:382px;
    height:143px;
    margin: 749px 0 0 -189px;
}
.slides .controls .btn#dacha-next {
    background-image: url(../buttons/02_dacha/next.png);
    width:322px;
    height:102px;
    margin: 728px 0 0 277px;
}
.slides .controls .btn#unicredit-more {
    background-image: url(../buttons/04_unicredit/watch.png);
    width:382px;
    height:143px;
    margin: 743px 0 0 -189px;
}
.slides .controls .btn#unicredit-next {
    background-image: url(../buttons/04_unicredit/content.png);
    width:322px;
    height:102px;
    margin: 728px 0 0 265px;
}
.slides .controls .btn#aimol-more {
    background-image: url(../buttons/05_aimol/down.png);
    width:382px;
    height:143px;
    margin: 751px 0 0 -204px;
}
.slides .controls .btn#aimol-next {
    background-image: url(../buttons/05_aimol/next.png);
    width:322px;
    height:102px;
    margin: 696px 0 0 252px;
}
.slides .controls .btn#vetac-more {
    background-image: url(../buttons/06_vetacademy/09.png);
    width:382px;
    height:143px;
    margin: 744px 0 0 -200px;
}
.slides .controls .btn#vetac-next {
    background-image: url(../buttons/06_vetacademy/10.png);
    width:322px;
    height:102px;
    margin: 750px 0 0 262px;
}
.slides .controls .btn#siberian-more {
    background-image: url(../buttons/07_siberian/06.png);
    width:382px;
    height:143px;
    margin: 746px 0 0 -200px;
}
.slides .controls .btn#siberian-next {
    background-image: url(../buttons/07_siberian/request.png);
    width:322px;
    height:102px;
    margin: 750px 0 0 262px;
}
.slides .controls .btn#begin {
    background-image: url(../buttons/08_last/begin.png);
    width:434px;
    height:83px;
    margin: 548px 0 0 -201px;
}
.slides .controls .btn#request {
    background-image: url(../buttons/08_last/05.png);
    width:292px;
    height:102px;
    margin: 670px 0 0 -143px;
}

.animated {
    animation-fill-mode: backwards;
}

/*--------------------------------------------------------------------------*/

.tooltip {
    visibility: hidden;
    display: block;
    position: absolute;
    left:50%;
    top:0;
    color:#fff;
    font-family: 'Rubik', sans-serif;
    font-size:18px;
    /*-webkit-backface-visibility: hidden;
    backface-visibility: hidden;*/
    -webkit-font-smoothing: antialiased;
    /*transform: translateZ(0);*/
}
.tooltip.animated {
    animation-duration: 2.2s;
}

@keyframes tooltipIn {
    0% {
        /*opacity: 0;*/
        opacity: 1;
        text-shadow:0 0 50px rgba(255,255,255,1);
        color:transparent;
    }

    100% {
        opacity: 1;
        text-shadow:0 0 50px rgba(255,255,255,0);
        color:#fff;
    }
}

.tooltip.in {
    animation-name: tooltipIn;
}

@keyframes tooltipOut {
    0% {
        opacity: 1;
    }

    1% {
        opacity:0;
    }

    100% {
        opacity: 0;
    }
}

.tooltip.out {
    animation-name: tooltipOut;
}

#hp-tooltip-1 {
    margin: 81px 0 0 458px;
    width: 215px;
}
#hp-tooltip-2 {
    margin: 99px 0 0 84px;
    width: 225px;
}
#hp-tooltip-3 {
    margin: 348px 0 0 318px;
    width: 335px;
}
#hp-tooltip-4 {
    margin: 681px 0 0 439px;
    width: 235px;
}

#hp-tooltip-5 {
    margin: 73px 0 0 535px;
    width: 215px;
}
#hp-tooltip-6 {
    margin: 252px 0 0 243px;
    width: 375px;
}
#hp-tooltip-7 {
    margin: 278px 0 0 528px;
    width: 200px;
}
#hp-tooltip-8 {
    margin: 277px 0 0 -756px;
    width: 240px;
    text-align: right;
}
#hp-tooltip-9 {
    margin: 488px 0 0 -819px;
    width: 245px;
    text-align: right;
}
#hp-tooltip-10 {
    margin: 668px 0 0 529px;
    width: 240px;
}

#hp-tooltip-11 {
    margin: 92px 0 0 150px;
    width: 310px;
}

#dacha-tooltip-1 {
    margin: 120px 0 0 531px;
    width: 265px;
}
#dacha-tooltip-2 {
    margin: 540px 0 0 236px;
    width: 260px;
}
#dacha-tooltip-3 {
    margin: 150px 0 0 463px;
    width: 260px;
}
#dacha-tooltip-4 {
    margin: 691px 0 0 198px;
    width: 267px;
}
#dacha-tooltip-5 {
    margin: 60px 0 0 548px;
    width: 260px;
}
#dacha-tooltip-6 {
    margin: 758px 0 0 499px;
    width: 300px;
}
#dacha-tooltip-7 {
     margin: 646px 0 0 94px;
     width: 180px;
 }
#dacha-tooltip-8 {
    margin: 214px 0 0 412px;
    width: 180px;
}

#unicredit-tooltip-1 {
    margin: 154px 0 0 -612px;
    width: 480px;
    text-align: right;
}
#unicredit-tooltip-2 {
    margin: 233px 0 0 -485px;
    width: 355px;
    text-align: right;
}
#unicredit-tooltip-3 {
    margin: 705px 0 0 -66px;
    width: 442px;
}

#unicredit-tooltip-4 {
    margin: 81px 0 0 -530px;
    width: 1100px;
    text-align: center;
    font-size: 21px;
}
#unicredit-tooltip-5 {
    margin: 161px 0 0 -42px;
    width: 180px;
    text-align: right;
}
#unicredit-tooltip-6 {
    margin: 225px 0 0 -42px;
    width: 180px;
    text-align: right;
}
#unicredit-tooltip-7 {
    margin: 341px 0 0 -42px;
    width: 180px;
    text-align: right;
}
#unicredit-tooltip-8 {
    margin: 119px 0 0 -822px;
    width: 260px;
    text-align: right;
}
#unicredit-tooltip-9 {
    margin: 342px 0 0 -742px;
    width: 180px;
    text-align: right;
}
#unicredit-tooltip-10 {
    margin: 606px 0 0 -297px;
    width: 350px;
    text-align: right;
}

#unicredit-tooltip-11 {
    margin: 15px 0 0 -16px;
    width: 306px;
    text-align: right;
}
#unicredit-tooltip-12 {
    margin: 123px 0 0 453px;
    width: 206px;
}
#aimol-tooltip-1 {
    margin: 262px 0 0 -409px;
    width: 356px;
    text-align: right;
}
#aimol-tooltip-2 {
    margin:445px 0 0 -409px;
    width: 356px;
    text-align: right;
}
#aimol-tooltip-3 {
    margin: 554px 0 0 -409px;
    width: 356px;
    text-align: right;
}
#aimol-tooltip-4 {
    margin: 104px 0 0 -590px;
    width: 316px;
}
#aimol-tooltip-5 {
    margin: 98px 0 0 310px;
    width: 230px;
}
#aimol-tooltip-7 {
    margin: 82px 0 0 491px;
    width: 143px;
}
#aimol-tooltip-8 {
    margin: 347px 0 0 -535px;
    width: 190px;
    text-align: right;
}
#aimol-tooltip-9 {
    margin: 21px 0 0 -373px;
    width: 400px;
    text-align: right;
}

#aimol-tooltip-10 {
    margin: 121px 0 0 -524px;
    width: 173px;
    text-align: right;
}
#aimol-tooltip-11 {
    margin: 456px 0 0 -576px;
    width: 156px;
    text-align: right;
}

#aimol-tooltip-12 {
    margin: 73px 0 0 -555px;
    width: 243px;
    text-align: right;
}
#aimol-tooltip-13 {
    margin: 488px 0 0 -329px;
    width: 173px;
    text-align: right;
}
#aimol-tooltip-14 {
    margin: 558px 0 0 -644px;
    width: 220px;
    text-align: right;
}
#vetac-tooltip-1 {
    margin: 84px 0 0 -189px;
    width: 512px;
    text-align: right;
}
#vetac-tooltip-2 {
    margin: 75px 0 0 -147px;
    width: 512px;
    text-align: right;
}
#vetac-tooltip-3 {
    margin: 104px 0 0 -63px;
    width: 412px;
    text-align: right;
}
#vetac-tooltip-4 {
    margin: 69px 0 0 -637px;
    width: 222px;
    text-align: right;
}
#vetac-tooltip-5 {
    margin: 195px 0 0 26px;
    width: 363px;
    text-align: right;
}

#siberian-tooltip-1 {
    margin: 290px 0 0 89px;
    width: 278px;
}
#siberian-tooltip-2 {
    margin: 168px 0 0 -373px;
    width: 272px;
    text-align: right;
}
#siberian-tooltip-3 {
    margin: 217px 0 0 -63px;
    width: 372px;
    text-align: right;
}
#siberian-tooltip-4 {
    margin: 215px 0 0 -238px;
    width: 572px;
    text-align: right;
}
#siberian-tooltip-5 {
    margin: 255px 0 0 -351px;
    width: 300px;
    text-align: right;
}
#siberian-tooltip-6 {
    margin: 224px 0 0 -554px;
    width: 268px;
    text-align: right;
}
#siberian-tooltip-7 {
    margin: 171px 0 0 -128px;
    width: 378px;
    text-align: right;
}
#siberian-tooltip-8 {
    margin: 231px 0 0 -231px;
    width: 378px;
    text-align: right;
}
#siberian-tooltip-9 {
    margin: 630px 0 0 -529px;
    width: 298px;
    text-align: right;
}
#siberian-tooltip-10 {
    margin: 199px 0 0 -92px;
    width: 378px;
    text-align: right;
}
#siberian-tooltip-11 {
    margin: 242px 0 0 -368px;
    width: 260px;
    text-align: right;
}
/*--------------------------------------------------------------------------*/

.card {
    visibility: hidden;
    display: block;
    position: absolute;
    left:50%;
    top:0;
    font-family: 'Rubik', sans-serif;
    font-size:16px;
    color:#000;
    /*-webkit-backface-visibility: hidden;
    backface-visibility: hidden;*/
    -webkit-font-smoothing: antialiased;
    /*transform: translateZ(0);*/
}
.card.animated {
    animation-duration: 0.7s;
}

@keyframes cardIn {
    0% {
        /*opacity: 0;*/
        opacity: 0;
        /*text-shadow:0 0 50px rgba(255,255,255,1);
        color:transparent;*/
    }

    100% {
        opacity: 1;
        /*text-shadow:0 0 50px rgba(255,255,255,0);
        color:#fff;*/
    }
}

.card.in {
    animation-name: cardIn;
}

@keyframes cardOut {
    0% {
        opacity: 1;
    }

    10% {
        opacity:0.6;
    }

    50% {
        opacity:0.1;
    }

    100% {
        opacity: 0;
    }
}

.card.out {
    animation-name: cardOut;
}
.card.white {
    color:#fff;
}

.card p {
    margin-bottom:20px;
}
.card strong {
    font-weight:500;
}

#hp-card-1 {
    margin: 508px 0 0 -512px;
    width: 250px;
    font-size:18px;
}
#hp-card-2 {
    margin: 548px 0 0 -96px;
    width: 250px;
}
#hp-card-3 {
    margin: 503px 0 0 375px;
    width: 262px;
}

#dacha-card-1 {
    margin: 478px 0 0 -512px;
    width: 250px;
    font-size: 19px;
}
#dacha-card-2 {
    margin: 560px 0 0 -514px;
    width: 255px;
}
#dacha-card-3 {
    margin: 491px 0 0 -122px;
    width: 255px;
}
#dacha-card-4 {
    margin: 622px 0 0 -67px;
    width: 255px;
}
#dacha-card-5 {
    margin: 512px 0 0 315px;
    width: 249px;
    font-size: 18px;
}

#unicredit-card-1 {
    margin: 524px 0 0 -512px;
    width: 250px;
    font-size: 19px;
}
#unicredit-card-2 {
    margin: 717px 0 0 -477px;
    width: 251px;
}
#unicredit-card-3 {
    margin: 563px 0 0 -61px;
    width: 212px;
}
#unicredit-card-4 {
    margin: 542px 0 0 315px;
    width: 249px;
}

#aimol-card-1 {
    margin: 323px 0 0 -512px;
    width: 250px;
    font-size: 16px;
}
#aimol-card-2 {
    margin: 541px 0 0 -511px;
    width: 429px;
    font-size: 15px;
}
#aimol-card-2 p {
    margin-bottom:10px;
}
#aimol-card-3 {
    margin: 571px 0 0 -22px;
    width: 218px;
    text-align: center;
}
#aimol-card-4 {
    margin: 514px 0 0 320px;
    width: 249px;
}

#vetac-card-1 {
    margin: 373px 0 0 -509px;
    width: 271px;
    font-size: 17px;
}
#vetac-card-2 {
    margin: 493px 0 0 -513px;
    width: 336px;
    font-size: 15px;
}
#vetac-card-3 {
    margin: 580px 0 0 -56px;
    width: 218px;
}
#vetac-card-4 {
    margin: 537px 0 0 274px;
    width: 316px;
}

#siberian-card-1 {
    margin: 362px 0 0 -503px;
    width: 271px;
    font-size: 17px;
}
#siberian-card-2 {
    margin: 529px 0 0 -484px;
    width: 521px;
    font-size: 15px;
}
#siberian-card-2 p {
    margin-bottom:11px;
}
#siberian-card-3 {
    margin: 580px 0 0 -56px;
    width: 218px;
}
#siberian-card-4 {
    margin: 538px 0 0 196px;
    width: 369px;
}


/*-----------------------------------------------------------------------*/

.request-form {
    width:588px;
    background: #fff;
    position: absolute;
    top:0;
    left:50%;
    margin:243px 0 0 -294px;
    padding:36px 35px 18px;
    box-shadow:0 1px 15px 1px rgba(0,0,0,.1);
}
.form-row {
    margin:0 0 19px;
}
.form-row:after {
    content:' ';
    display:table;
    width:100%;
    clear:both;
}
.form-label {
    float:left;
    width:25%;
    text-align: right;
    padding:11px 16px 0 0;
    font-family: 'Rubik', sans-serif;
    font-weight:500;
    font-size:21px;
}
.form-control {

}
.form-label + .form-control {
    float:left;
    width:75%;
}
.form-control input[type="text"],
.form-control input[type="password"],
.form-control input[type="email"] {
    width:100%;
    background: #fff;
    border:5px solid #000;
    height:45px;
    padding:0 10px;
    outline: none;
    font-family: 'Rubik', sans-serif;
    font-weight:400;
    font-size:19px;
}

.request-form button {
    background: #000;
    border:none;
    color:#fff;
    height:56px;
    padding:10px 15px 8px;
    font-family: 'Rubik', sans-serif;
    font-weight:500;
    font-size:20px;
    text-transform: uppercase;
    outline: none;
}
.request-form .form-control button {
    width:100%;
}

.playback-controls {
    position: fixed;
    left:0;
    bottom:0;
    width:100%;
}
.playback-controls .btn {
    visibility: hidden;
}
.playback-controls .next-slide {
    width:94px;
    height:28px;
    background: url(../buttons/next.png) no-repeat center center;
    position: absolute;
    left:50%;
    bottom:12px;
    margin-left: -39px;
    cursor: pointer;
}
.playback-controls .prev-slide {
    width:94px;
    height:28px;
    background: url(../buttons/back.png) no-repeat center center;
    position: absolute;
    right:50%;
    bottom:12px;
    margin-right: 39px;
    cursor: pointer;
}
.playback-controls .project-prev,
.playback-controls .project-next {
    position: absolute;
    bottom:-25px;
    font-family: 'Rubik', sans-serif;
    font-size:13px;
    font-weight: 700;
    text-transform: uppercase;
    cursor: pointer;
    max-width:172px;
}
.playback-controls .project-prev {
    left:-18px;
    text-align: right;
}
.playback-controls .project-next {
    right:-18px;
    text-align: left;
}
.playback-controls .project-prev .label,
.playback-controls .project-next .label {
    display: block;
    width:172px;
    margin-bottom:-4px;
    text-shadow: 0 0 7px rgba(255,255,255,1);
}
.playback-controls .project-prev .label {
    padding-right:41px;
}
.playback-controls .project-next .label{
    padding-left:41px;
}
.playback-controls #dacha-prev-proj .label,
.playback-controls #dacha-next-proj .label{
    color:#fff;
    text-shadow: none;
}
.playback-controls .project-prev img,
.playback-controls .project-next img {
    display: block;
    max-width:100%;
    opacity:.9;
    /*transition:all 80ms ease-out;*/
}
.playback-controls .project-prev:hover img,
.playback-controls .project-next:hover img {
    opacity:1;
}
.playback-controls .section-prev,
.playback-controls .section-next {
    position: absolute;
    bottom:32px;
    max-width:220px;
    cursor: pointer;
}
.playback-controls .section-prev {
    left:14px;
}
.playback-controls .section-next {
    right:14px;
}
.playback-controls .section-prev img,
.playback-controls .section-next img {
    display: block;
    max-width:100%;
}
.playback-controls .to-request {
    position: absolute;
    bottom:125px;
    right:14px;
    max-width:220px;
    cursor: pointer;
}
.playback-controls .to-request img {
    display: block;
    max-width:100%;
}



@keyframes pulse_animation {

    0% {
        transform: scale(1);
        opacity:1;
    }
    25% {
        transform: scale(1.04);
        opacity:1;
    }
    50% {
        transform: scale(1.07);
        opacity:.85;
    }
    75% {
        transform: scale(1.04);
        opacity:1;
    }
    100% {
        transform: scale(1);
        opacity:1;
    }

}

.preloader {
    position: absolute;
    width:100%;
    height:100%;
    left:0;
    top:0;
    background: #fff;
    z-index:400;
}
.preloader:before {
    content:' ';
    display:block;
    width:100%;
    height:100%;
    left:0;
    top:0;
    background: url(../img/preload.jpg) no-repeat center center;
    background-size: cover;

    -webkit-animation: pulse_animation 1.4s linear;
    animation: pulse_animation 1.4s linear;
    -webkit-animation-iteration-count: infinite;
    animation-iteration-count: infinite;
}